.row {
  margin-bottom: 20px;
  .form-label {
    padding-bottom: 6px;
    display: inline-block;
  }
}
.al-right {
  text-align: right;
}
.hr {
  color: #ddd;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0 0;
  -webkit-transition: inherit;
  transition: inherit;
  overflow: visible;
}

//
.el-dialog__header {
  padding: 20px 20px 20px !important;
}
.el-dialog__body {
  padding: 10px 20px !important;
}
.el-dialog__footer {
  .el-button {
    margin-left: initial !important;
  }
}
